@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .conteudo__principal {
        flex-direction: column;
        padding: 0 40px 0 40px;
        gap: 0;
    }

    .conteudo__principal__secao {
        padding: 11.11% 0 0 0;
    }

    .conteudo__principal__texto .texto{
        width: 100%;
    }

    .conteudo__principal__caixa {
        height: 133px;
        width: auto;
        max-width: none;
    }

    .conteudo__principal__area-de-copia {
        width: auto;
        height: 170px;
        overflow: scroll;
        padding: 20px;
        gap: 10px;
    }

    .conteudo__principal__caixa img {
        display: none;
    }

    .conteudo__principal__area-de-copia .texto-destino {
        width: 100%;
    }

    .conteudo__principal__area-de-copia .botao-copiar {
        width: 100%;
    }

    .rodape {
        position: absolute;
        width: 100%;
        top: 150%;
    }
}
